[submodule "src/Bundle/MenuBundle"]
	path = src/Bundle/MenuBundle
	url = git://github.com/knplabs/MenuBundle.git
[submodule "src/Bundle/MarkdownBundle"]
	path = src/Bundle/MarkdownBundle
	url = git://github.com/knplabs/MarkdownBundle.git
[submodule "src/Bundle/DoctrineUserBundle"]
	path = src/Bundle/DoctrineUserBundle
	url = git://github.com/jackbravo/DoctrineUserBundle.git
