app/config/database.yml
/vendor/
/app/cache/*
/app/logs/*
*.swp
*.gitignore
*.gitmodules
src/vendor/doctrine/UPGRADE*
src/vendor/doctrine/build*
src/vendor/doctrine/bin
src/vendor/doctrine/tests
src/vendor/doctrine/tools
src/vendor/doctrine/lib/vendor/*
src/vendor/doctrine-migrations/tests
src/vendor/doctrine-migrations/build*
src/vendor/doctrine-data-fixtures/tests
src/vendor/doctrine-data-fixtures/README*
src/vendor/doctrine-data-fixtures/lib/vendor
src/vendor/doctrine-mongodb/tests
src/vendor/doctrine-mongodb/build*
src/vendor/doctrine-mongodb/tools
src/vendor/swiftmailer/CHANGES
src/vendor/swiftmailer/README*
src/vendor/swiftmailer/build*
src/vendor/swiftmailer/docs
src/vendor/swiftmailer/notes
src/vendor/swiftmailer/test-suite
src/vendor/swiftmailer/tests-suite
src/vendor/swiftmailer/create_pear_package.php
src/vendor/swiftmailer/package*
src/vendor/swiftmailer/tests
src/vendor/symfony/README
src/vendor/symfony/phpunit.xml.dist
src/vendor/symfony/tests
src/vendor/twig/AUTHORS
src/vendor/twig/CHANGELOG
src/vendor/twig/README.markdown
src/vendor/twig/bin
src/vendor/twig/doc
src/vendor/twig/package.xml.tpl
src/vendor/twig/phpunit.xml
src/vendor/twig/test
src/vendor/zend/INSTALL.txt
src/vendor/zend/README*
src/vendor/zend/bin
src/vendor/zend/demos
src/vendor/zend/documentation
src/vendor/zend/resources
src/vendor/zend/tests
src/vendor/zend/tools
src/vendor/zend/working
src/vendor/zend/library*
