app.config:
    charset:       UTF-8
    error_handler: null
    csrf_secret:   xxxxxxxxxx
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, annotations: true }
    templating:    {} #assets_version: SomeVersionScheme
    session:
        default_locale: en
        lifetime:       3600
        auto_start:     true

# Twig Configuration
twig.config:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    form:
        resources: [ChiaBundle::form.twig]

imports:
    - { resource: database.yml }
    - { resource: email.yml }

## Doctrine Configuration
doctrine.orm:
# TODO: for prod environments this is not optimal
    auto_generate_proxy_classes: true

# From MenuBundle
chia.menu: ~
menu.twig: ~

# From MarkdownBundle
markdown.parser: ~
markdown.twig: ~

doctrine_user.config:
    db_driver: orm
    password_encoder: sha1
    class:
        model:
            user: Application\ChiaBundle\Entity\User

security.config:
    providers:
        main:
            password_encoder: sha1
            entity:
                class: ChiaBundle:User
    firewalls:
        session:
            pattern:    /(login|logout|welcome)
            security:   false
        profiler:
            pattern:    /_profiler/.*
            security:   false
        frontend:
            pattern:    /.*
            logout:     true
            form-login:
                default_target_path: /projects

