<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="menu.chia.class">Application\ChiaBundle\Menu\ChiaMenu</parameter>
    </parameters>

    <services>
        <service id="menu.chia" class="%menu.chia.class%" shared="true">
            <tag name="menu" alias="chia" />
            <argument type="service" id="request" />
            <argument type="service" id="router" />
        </service>
    </services>
</container>
