contacts:
    pattern:    /contacts
    defaults:   { _controller: ChiaBundle:Contacts:index }
contacts_new:
    pattern:    /contacts/new
    defaults:   { _controller: ChiaBundle:Contacts:new }
contacts_edit:
    pattern:    /contacts/:id/edit
    defaults:   { _controller: ChiaBundle:Contacts:edit }
companies_new:
    pattern:    /companies/new
    defaults:   { _controller: ChiaBundle:Contacts:newCompany }

projects:
    pattern:    /projects
    defaults:   { _controller: ChiaBundle:Projects:index }
projects_new:
    pattern:    /projects/new
    defaults:   { _controller: ChiaBundle:Projects:new }
projects_view:
    pattern:    /projects/:id
    defaults:   { _controller: ChiaBundle:Projects:view }
projects_edit:
    pattern:    /projects/:id/edit
    defaults:   { _controller: ChiaBundle:Projects:edit }

admin:
    pattern:    /admin
    defaults:   { _controller: ChiaBundle:Admin:index }

categories:
    pattern:    /categories
    defaults:   { _controller: ChiaBundle:Categories:index }
categories_new:
    pattern:    /categories/new
    defaults:   { _controller: ChiaBundle:Categories:new }
categories_edit:
    pattern:    /categories/:id/edit
    defaults:   { _controller: ChiaBundle:Categories:edit }

status:
    pattern:    /status
    defaults:   { _controller: ChiaBundle:Status:index }
status_new:
    pattern:    /status/new
    defaults:   { _controller: ChiaBundle:Status:new }
status_edit:
    pattern:    /status/:id/edit
    defaults:   { _controller: ChiaBundle:Status:edit }
