contacts:
    pattern:    /contacts
    defaults:   { _controller: ChiaBundle:Contacts:index }
contacts_new:
    pattern:    /contacts/new
    defaults:   { _controller: ChiaBundle:Contacts:new }
contacts_edit:
    pattern:    /contacts/:id/edit
    defaults:   { _controller: ChiaBundle:Contacts:edit }
companies_new:
    pattern:    /companies/new
    defaults:   { _controller: ChiaBundle:Contacts:newCompany }

projects:
    pattern:    /projects
    defaults:   { _controller: ChiaBundle:Projects:index }
projects_new:
    pattern:    /projects/new
    defaults:   { _controller: ChiaBundle:Projects:new }
projects_view:
    pattern:    /projects/:id
    defaults:   { _controller: ChiaBundle:Projects:view }
projects_edit:
    pattern:    /projects/:id/edit
    defaults:   { _controller: ChiaBundle:Projects:edit }
projects_modify:
    pattern:    /projects/:id/modify
    defaults:   { _controller: ChiaBundle:Projects:modify }
    requirements: { _method: POST }

tasks:
    pattern:    /tasks
    defaults:   { _controller: ChiaBundle:Tasks:index }
tasks_create:
    pattern:    /tasks/create
    defaults:   { _controller: ChiaBundle:Tasks:create }
    requirements: { _method: POST }
tasks_toggle:
    pattern:    /tasks/:id/toggle
    defaults:   { _controller: ChiaBundle:Tasks:toggle }
    requirements: { _method: POST }

admin:
    pattern:    /admin
    defaults:   { _controller: ChiaBundle:Admin:index }

categories:
    pattern:    /categories
    defaults:   { _controller: ChiaBundle:Categories:index }
categories_new:
    pattern:    /categories/new
    defaults:   { _controller: ChiaBundle:Categories:new }
categories_edit:
    pattern:    /categories/:id/edit
    defaults:   { _controller: ChiaBundle:Categories:edit }

task_categories:
    pattern:    /task_categories
    defaults:   { _controller: ChiaBundle:TaskCategories:index }
task_categories_new:
    pattern:    /task_categories/new
    defaults:   { _controller: ChiaBundle:TaskCategories:new }
task_categories_edit:
    pattern:    /task_categories/:id/edit
    defaults:   { _controller: ChiaBundle:TaskCategories:edit }

status:
    pattern:    /status
    defaults:   { _controller: ChiaBundle:Status:index }
status_new:
    pattern:    /status/new
    defaults:   { _controller: ChiaBundle:Status:new }
status_edit:
    pattern:    /status/:id/edit
    defaults:   { _controller: ChiaBundle:Status:edit }

session:
    resource:   DoctrineUserBundle/Resources/config/routing/security.xml

