label {
    display: block;
    font-weight: bold;
}

form {
    margin: .5em 0;
}

form > div {
    margin: .5em 0;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0 8px;
}

.sidebar-right {
    width: 300px;
    float: right;
}

header #app-title, #main-menu, #tools-menu {
    display: inline;
    font-size: 80%;
}

#tools-menu {
    float: right;
}

h1 + p, h2 + p, h3 + p {
    margin-top: -1em;
}
