{% extends "ChiaBundle::layout.twig" %}

{% block content %}
    <h1>{% block title 'Categories' %}</h1>
    <p>
        <a href="{{ path('categories_new') }}">New</a><br>
    </p>

    <table class="categories">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr class="category-row">
            <td><strong><a href="{{ path('categories_edit', {'id': category.id}) }}">{{ category.name }}</a></strong></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
