<div class="tasks">
{% for task in tasks %}
    <div class="row">
        <input type="checkbox" />
        <strong>{{ task.category }}</strong>
        {{ task.owner }}:
        {{ task.task }}
    </div>
{% endfor %}
</div>
