<div class="tasks">
{% for task in tasks %}
    <div class="row">
        {% render 'ChiaBundle:Tasks:checkbox' with {'task': task} %}
        <strong>{{ task.category }}</strong>
        {{ task.owner }}:
        {{ task.task }}
    </div>
{% endfor %}
</div>
