{#
{% javascript 'bundles/chia/js/jquery.min.js' %}
{% javascript 'bundles/chia/js/jquery-ui.min.js' %}
#}
{% javascript 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %}
{% javascript 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js' %}
{% javascript 'bundles/chia/js/collection_field.js' %}
{#
{% stylesheet 'bundles/chia/css/jquery-ui.css' %}
#}
{% stylesheet 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css' %}
{% stylesheet 'bundles/chia/css/main.css' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8" />
        {% javascripts %}
        {% stylesheets %}
        <title>{% block title %}Chia Application{% endblock %}</title>
    </head>
    <body>
        <h1>Chia Application</h1>
        {% block content %}{% endblock %}
    </body>
</html>
