{% extends "ChiaBundle::layout.twig" %}

{% block content %}
    <h1>{% block title 'Edit contact' %}</h1>
    <form action="{% path 'contacts_edit' with {"id": contact.id} %}" method="post" {{ form|render_enctype }}>
        {{ form|render }}
        <input type="submit" value="Send!" />
        <a href="{% path 'contacts' %}">Cancel</a>
    </form>
{% endblock %}
